{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created at</th>
            </tr>
            {{range .Snippets}}
            <tr>
                <td>#{{.ID}}</td>
                <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
                <td>{{humanDate .CreatedAt}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}